<% if model_data.errors.any? %>
<div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
    <h2>
        <%= pluralize(model_data.errors.count, "error") %> 以下の入力エラーがあります:
    </h2>

    <ul>
        <% model_data.errors.each do |error| %>
        <li><%= error.full_message %></li>
        <% end %>
    </ul>
</div>
<% end %>