<header class="text-sm font-medium ring-1 ring-gray-900 ring-opacity-5 shadow-sm py-4 px-4  bg-black">
  <div class="flex flex-row items-center px-5">
    <h1 class="text-gray-400 text-3xl">SampleApp</h1>
    <div class="flex-1 justify-end text-right">
      <p class="text-gray-400">マイページ</p>
    </div>
  </div>
</header>