<header class="text-sm font-medium ring-1 ring-gray-900 ring-opacity-5 shadow-sm py-4 px-4  bg-black">
  <div class="flex flex-row items-center px-5">
    <%# ハンバーガーメニュー %>
    <div class="pr-5">
      <%= render 'shared/drawer_menu' %>
    </div>


    <h1 class="text-gray-400 text-3xl">
      <%= link_to "SampleApp", root_path, data: {turbo: false}, class: "hover:text-gray-200" %>
    </h1>
    <div class="flex flex-1 flex-row justify-end text-right">
      <p class="text-gray-400 hover:text-gray-200">マイページ</p>
      <%= button_to "投稿", {controller: "articles", action: "new"}, {method: :get, data: { turbo: false }, class: "text-gray-400 pl-2 hover:text-gray-200" }%>
    </div>
  </div>
</header>